; Git configuration (https://git-scm.com)

[color]
    ui = "auto"

[commit]
    gpgSign  = true
    template = "~/commit.template"
    status   = true
    verbose  = true

[core]
    editor       = "$EDITOR"
    hideDotFiles = "dotGitOnly"

[credential]
    helper = "cache --timeout=7200"

[format]
    signOff     = true
    coverLetter = "auto"

[help]
    autoCorrect = false

[init]
    defaultBranch = "master"

[push]
    gpgSign = "if-asked"

[sendemail]
    smtpEncryption = "ssl"
    smtpServer     = "smtp.mail.me.com"
    smtpServerPort = 587
    smtpUser       = "n@nc0.fr"

[tag]
    gpgSign = true

[user]
    email      = "n@nc0.fr"
    name       = "Nicolas Paul"
    signingKey = 8D9B0AA6E30AF7B283D38EF3DAD5245AD7171B7F
    username   = "nc0"

; Git LFS configuration (https://git-lfs.github.com)
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
