# Copyright (c) 2023 Nicolas Paul.  All rights reserved.
# Use of this source file is governed by the Nicolas Paul
# Public License, Version 1.0, present in the COPYRIGHT file.

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab
indent_size = 8

[*.md]
trim_trailing_whitespace = false

