; Copyright 2023 Nicolas Paul. All rights reserved.
; Use of this source code is governed by a BSD-style
; license that can be found in the LICENSE file.

; Git configuration (https://git-scm.com)

[color]
    ui = "auto"
[commit]
    gpgSign  = true
    template = "~/.gitmessage"
    status   = true
    verbose  = true
[core]
    editor       = "$EDITOR"
    hideDotFiles = "dotGitOnly"
[credential]
    helper = "cache --timeout=7200"
[format]
    signOff     = true
    coverLetter = "auto"
[help]
    autoCorrect = false
[init]
    defaultBranch = "master"
[push]
    gpgSign = "if-asked"
[sendemail]
    smtpEncryption = "ssl"
    smtpServer     = "smtp.mail.me.com"
    smtpServerPort = 587
    smtpUser       = "n@nc0.fr"
[tag]
    gpgSign = true
[user]
    email      = "n@nc0.fr"
    name       = "Nicolas Paul"
    signingKey = C1478EC71E6E6923
    username   = "NC0"

; Git LFS configuration (https://git-lfs.github.com)
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
